fastapi
uvicorn[standard]
sqlalchemy
asyncpg
aiosqlite
redis
pydantic
pydantic-settings
python-multipart

numpy
pandas
scikit-learn
python-dotenv
websockets
ccxt # For fetching crypto market data
httpx